@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');

body {
  font-family: 'Xanh Mono', monospace;
  display: grid;
  background: #eae0d7;
}

a {
  text-decoration: none;
  color: black;
}

label {
  display: block;
}

header h1 {
  display: flex;
  justify-content: center;
}

nav {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
}

nav a {
  align-self: flex-start;
  z-index: 2;
  margin: 10px;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-icon {
  display: flex;
  align-self: flex-end;
}

.header .title {
  font-size: xx-large;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: right;
  justify-content: space-evenly;
}

.cart-item img:last-child {
  height: 100px;
  width: auto;
}

.cart-heading {
  display: inline-flex;
  text-decoration: underline;
  font-weight: bold;
}

.cart-heading p {
  font-weight: bold;
}

.cart-link {
  display: inline-flex;
  height: 80px;
  width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}

.delete-checkout {
  height: 10%;
  padding: 2px;
  margin-top: 15px;
}

.productContainer {
  padding: 40px;
  position: relative;
  margin: auto;
  overflow: hidden;
  width: 900px;
  height: 700px;
  background: #eae8e4;
  border-radius: 10px;
  border-style: groove;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.description {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4e4e4e;
  font-size: 0.8em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.productImage {
  width: 400px;
  margin-top: 47px;
}

.product h1 {
  font-size: 1.8em;
  color: #4e4e4e;
  margin-top: -5px;
}

.product h2 {
  font-size: 2.2em;
  color: #c3a1a0;
  margin-top: -5px;
}

.addToCart {
  background-color: darken(#e0c9cb, 20%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 2px;
  border-radius: px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9c5959;
  cursor: pointer;
  width: 67%;
  height: 40px;
}

.addToCart:hover {
  background: #ba7e7e;
  transition: all 0.4s ease-in-out;
}

.like {
  background-color: darken(#e0c9cb, 20%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9c5959;
  cursor: pointer;
  width: 50px;
  height: 40px;
}

.like:hover {
  background: #ba7e7e;
  transition: all 0.4s ease-in-out;
}

.soloProductContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: stretch;
  padding-left: 10%;
  padding-right: 10%;
}

.soloProduct {
  flex-direction: row;
  padding: 40px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 300px;
  height: 600px;
  background: #f5f5f5;
  box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
  border-radius: 10px;
  border-style: groove;
  margin-left: 60px;
}

.soloProduct h1 {
  margin-left: 25%;
  font-size: 1.8em;
  color: #f5f5f5;
  margin-top: 10px;
}

.soloProduct h2 {
  margin-left: 70%;
  font-size: 1.8em;
  color: #f5f5f5;
  margin-top: 20px;
  text-align: center;
}

.soloProduct img {
  width: 300px;
  height: 400px;
  grid-row: auto;
}

.soloProduct:hover h1 {
  color: #4e4e4e;
  transition: all 0.4s ease-in-out;
}

.soloProduct:hover h2 {
  color: #c3a1a0;
  transition: all 0.4s ease-in-out;
}

.mainContainer {
  display: flex;
  /* width: 1000px;
  height: 00px; */
  justify-content: center;
  /* margin-left: 20%;
  margin-right: 25%; */
}

.mainImg {
  width: 1000px;
  height: auto;
}

.img-overlay {
  position: relative;
  /* display: inline-block; */
  /* transition: transform 150ms ease-in-out; */
}

.img-overlay img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-overlay svg {
  position: absolute;
  top: 0;
  left: 0;
}

.deleteProductAdmin {
  background-color: darken(#e0c9cb, 20%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 2px;
  border-radius: px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9c5959;
  cursor: pointer;
  width: 50%;
  height: 40px;
}

.deleteProductAdmin:hover {
  background: #ba7e7e;
  transition: all 0.4s ease-in-out;
}

.editProductAdmin {
  background-color: darken(#e0c9cb, 20%);
  padding: 10px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: 2px;
  border-radius: px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #9c5959;
  cursor: pointer;
  width: 50%;
  height: 40px;
}

.editProductAdmin:hover {
  background: #ba7e7e;
  transition: all 0.4s ease-in-out;
}

.newProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: stretch;
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 300px;
}

.newProductInput {
  display: inline;
  position: inline;
  margin: 10px;
}

.adminProductContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: stretch;
  padding-left: 10%;
  padding-right: 10%;
}

.adminsoloProduct {
  flex-direction: row;
  padding: 40px;
  position: relative;
  margin: 20px;
  overflow: hidden;
  width: 900px;
  height: 800px;
  background: #f5f5f5;
  box-shadow: 5px 5px 15px rgba(#ba7e7e, 0.5);
  border-radius: 10px;
  border-style: groove;
  margin-left: 20px;
}

.adminsoloProduct h1 {
  margin-left: 25%;
  font-size: 1.8em;
  color: #4e4e4e;
  margin-top: 10px;
}

.adminsoloProduct h2 {
  margin-left: 70%;
  font-size: 1.8em;
  color: #c3a1a0;
  margin-top: 20px;
}

.adminsoloProduct img {
  width: 300px;
  height: 400px;
  grid-row: auto;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
}

.options p:hover {
  cursor: pointer;
}

.orders-container {
  display: flex;
  justify-content: space-between;
}

.orders-container p:hover {
  cursor: pointer;
}
