body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav a {
  display: inline-block;
  margin: 1em;
  /* align-self: flex-start; */
}

form div {
  margin: 1em;
  display: inline-block;
}

.cart-icon {
  align-self: flex-end;
}

nav h1 {
  display: flex;
  flex-direction: column;
}

.cart-container {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.cart-item img:last-child {
  height: 100px;
  width: auto;
}

.cart-heading {
  display: inline-flex;
  text-decoration: underline;
  font-weight: bold;
}

.cart-heading p {
  font-weight: bold;
}

.cart-link {
  display: inline-flex;
  height: 80px;
  width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}

.delete-checkout {
  height: 10%;
  padding: 2px;
  margin-top: 15px;
}
